html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 10vw 90vw;
  /* grid-template-rows: 100vh; */
}

.sidebar {
  margin: 15px;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.coordinates {
  margin: 15px;
}