@import "./node_modules/ol/ol.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
  /* font-family: 'Nunito Sans', sans-serif; */
}
.row {
  --bs-gutter-x: 0;
}
.map {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
.map .ol-rotate {
  top: 3.5em;
}
.ol-control {
  font: 1.2em sans-serif;
}
.ol-zoomslider {
  top: 3.7em;
}
.ol-overviewmap {
  bottom: 2em;
}
.ol-zoom-extent  {
  top: 2em;
  left: auto;
  right: 0.5em;
}
.btn-save {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.block-1 {
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #858585;
}
.block-2 {
  margin: 15px;
  position: fixed;
  top: auto;
  bottom: 0;
}
.form-select {
  font-size: 1.2rem;
  width: 100%;
}
h2 {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 1.7rem;
}
.btn-group-vertical, .btn-primary {
  width: 100%;
}

/* button {
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  background: #55c358;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 17px;
  line-height: 1.9;
}
button:hover {
  background: #469f49;
} 
*/
@media (min-width: 768px){
  .col-md-2 {
    flex: 0 0 auto;
    width: 11%;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
      flex: 0 0 auto;
      width: 89%;
      padding: 0;
  }
}