@import "./node_modules/ol/ol.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  justify-self: flex-start;
  padding: 0;
  margin: 0;
  max-width: 100%;
  --bs-gutter-x: 0;
}
.item {
  padding: 40px;
  height: calc(100vh - 50px);
  padding: 0;
  margin: 0;
}
.item-1 {
  flex-grow: 1;
  max-width: 215px;
}
.item-2 {
  flex-grow: 10;
}
.map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 50px);
}
.map .ol-rotate {
  top: 3.5em;
}
.ol-control {
  font: 1.2em sans-serif;
}
.ol-zoomslider {
  top: 3.7em;
}
.ol-overviewmap {
  bottom: 2em;
}
.ol-zoom-extent  {
  top: 2em;
  left: auto;
  right: 0.5em;
}
.ol-mouse-position {
  right: 39px;
  top: 10px;
  background: var(--ol-background-color);
  padding: 1px 10px;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
}
.btn-save {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.block-1 {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #858585;
}
.block-1:last-child {
  border: none;
  padding-bottom: 0;
}
.block-2 {
  margin: 15px;
  position: fixed;
  top: auto;
  bottom: 0;
}
.menu {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.btn-group {
  width: 100%;
}
h2 {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 1.7rem;
}
.btn-group-vertical, .btn {
  width: 100%;
}
#geom_type {
  margin-bottom: 5px;
}
#save_pdf {
  margin-top: 5px;
}
#measureOptions {
  margin-top: 7px;
}
#scaleBarOptions, #opacity_lvl, #projection_container {
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 7px;
}
#scaleBarOptions {
  display: none;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.navbar {
  color: white;
}